<h1>Bonjour cher utilisateur</h1>

<%= form_for @user, url: "/user/login", method: :post do |f| %>
  <%= f.text_field :name, placeholder: "Nom" %>
  <%= f.password_field :password, placeholder: "Mot de passe" %>
  <%= f.submit "Valider" %>
<% end %>


<%= link_to "Retourner à la page d'accueil", root_path %>
