<!DOCTYPE html>
<html>
  <head>
    <title>Annonces</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if !notice.nil? %>
      <p style="background:green; height: 30px; color: #FFF; padding: 15px; text-align:center; margin-top: 0; "><%= notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
